<!DOCTYPE html>
<title>Vue sample</title>
<style> /* any css */
</style>
<head></head>
<div id="app">
    <nav>
        <router-link to="/top">Top Page</router-link>
        <router-link to="/users">User Index Page</router-link>
    </nav>
    <router-view></router-view>
</div>

<script src="https://unpkg.com/vue@2.5.17"></script>
<script src="https://unpkg.com/vue-router@3.0.1"></script>

<script type="text/x-template" id="user-list">
    <div>
        <div class="loading" v-if="loading">loading...</div>
        <div v-if="error" class="error">
            {{ error }}
        </div>
        <div v-for="user in users" :key="user.id">
            <h2>{{ user.name }}</h2>
        </div>
    </div>
</script>


<script type="text/x-template" id="user-detail">
    <div>
        <div class="loading" v-if="loading">loading...</div>
        <div v-if="error" class="error">
            {{ error }}
        </div>
        <div v-if="user">
            <h2>{{user.name}}</h2>
            <p>{{user.description}}</p>
        </div>
    </div>
</script>

<script>

    var userData = [
        {
            id: 1,
            name: "tanaka",
            description: "engineer"
        }
    ]
    
    var getUser = function(userId, callback) {
        setTimeout(function() {
            var filteredUsers = userData.filter(function (user) {
                return user.id === parseInt(userId, 10)
            })
            callback(null, filteredUsers && filteredUsers[0])
        }, 1000)
    }

    var UserDetail = {
        template: '#user-detail',
        data: function() {
            return {
                loading: false,
                user: null,
                error: null
            }
        },
        created: function() {
            this.fetchData()
        },
        watch: {
            '$route': 'fetchData'
        },
        methods: {
            fetchData: function() {
                this.loading = true
                getUser(this.$route.params.userId, (function(err, user) {
                    this.loading = false
                    if (err) {
                        this.error = err.toString()
                    } else {
                        this.user = user
                    }
                }).bind(this))
            } 
        }
    }

    var getUsers = function (callback) {
        setTimeout(function () {
            callback(null, [
                {
                    id: 1,
                    name: "Takahashi"
                },
                {
                    id: 2,
                    name: "Kagawa"
                }
            ])
        }, 1000)
    }

    var UserList = {
        template: '#user-list',
        data: function() {
            return {
                loading: false,
                users: function() { return [] },
                error: null
            }
        },

        created: function() {
            this.fetchData()
        },

        watch: {
            '$route': 'fetchData'
        },
        methods: {
            fetchData: function() {
                this.loading = true
                getUsers((function (err, users) {
                    this.loading = false
                    if (err) {
                        this.error = err.toString()
                    } else {
                        this.users = users
                    }
                }).bind(this))
            }
        }
    }

    var router = new VueRouter({
      routes: [
          {
              path: '/top',
              component: {
                  template: '<div>Top Page</div>'
              }
          },
          {
              path: '/users',
              component: UserList
          },
          {
              path: '/users/:userId',
              component: UserDetail
          }
      ]
    })

    var app = new Vue({
        router: router
    }).$mount('#app')
    
</script>
