<!DOCTYPE html>
<title>Vue sample</title>
<style> /* any css */
</style>
<head></head>
<div id="app">
    <nav>
        <router-link to="/top">Top Page</router-link>
        <router-link to="/users">User Index Page</router-link>
    </nav>
    <router-view></router-view>
</div>

<script src="https://unpkg.com/vue@2.5.17"></script>
<script src="https://unpkg.com/vue-router@3.0.1"></script>

<script type="text/x-template" id="user-list">
    <div>
        <div class="loading" v-if="loading">loading...</div>
        <div v-if="error" class="error">
            {{ error }}
        </div>
        <div v-for="user in users" :key="user.id">
            <h2>{{ user.name }}</h2>
        </div>
    </div>
</script>


<script type="text/x-template" id="user-detail">
    <div>
        <div class="loading" v-if="loading">loading...</div>
        <div v-if="error" class="error">
            {{ error }}
        </div>
        <div v-if="user">
            <h2>{{user.name}}</h2>
            <p>{{user.description}}</p>
        </div>
    </div>
</script>

<script type="text/x-template" id="user-create">
    <div>
        <div class="sending" v-if="sending">Sending...</div>
        <div>
            <h2>New User Create</h2>
        </div>
        <div>
            <label>name: </label>
            <input type="text" v-model="user.name">
        </div>
        <div>
            <label>description: </label>
            <textarea v-model="user.description"></textarea>
        </div>    
        <div v-if="error" class="error">
            {{ error }}
        </div>
        <div>
            <input type="button" @click="createUser" value="send">
        </div>
    </div>
</script>

<script>

    var Auth = {
        login: function(email, pass, cb) {
            setTimeout(function() {
            if (email === 'vue@example.com' && pass === 'vue') {
                localStorage.token = Math.random().toString(36).substring(7)
                if (cb) { cb(true) }
            } else {
                if (cb) { cb(false) }
                }
            }, 0)
        },

        logout: function () {
            delete localStorage.token
        },

        loggedIn: function() {
            return !!localStorage.token 
        }
    }

    var postUser = function(params, callback) {
        setTimeout(function() {
            params.id = userData.length + 1
            userData.push(params)
            callback(null, params)
        }, 1000)
    }

    var UserCreate = {
        template: '#user-create',
        data: function() {
            return {
                sending: false,
                user: this.defaultUser(),
                error: null 
            }
        },
        created: function(){
        },
        methods: {
            defaultUser: function() {
                return {
                    name: '',
                    description: ''
                }
            },

            createUser: function() {
                if (this.user.name.trim() === ''){
                    this.error = 'Name is required'
                    return
                }
                if (this.user.description.trim() === ''){
                    this.error = 'description is required'
                    return
                }

                postUser(this.user, (function(err, user) {
                    this.sending = false
                    if (err) {
                        this.error = err.toString()
                    } else {
                        this.error = null
                        this.user = this.defaultUser()
                        alert('New User Created!')
                        this.$router.push('/users')
                    }
                }).bind(this))
            }
        }
    }

    var userData = [
        {
            id: 1,
            name: "tanaka",
            description: "engineer"
        }
    ]
    
    var getUser = function(userId, callback) {
        setTimeout(function() {
            var filteredUsers = userData.filter(function (user) {
                return user.id === parseInt(userId, 10)
            })
            callback(null, filteredUsers && filteredUsers[0])
        }, 1000)
    }

    var UserDetail = {
        template: '#user-detail',
        data: function() {
            return {
                loading: false,
                user: null,
                error: null
            }
        },
        created: function() {
            this.fetchData()
        },
        watch: {
            '$route': 'fetchData'
        },
        methods: {
            fetchData: function() {
                this.loading = true
                getUser(this.$route.params.userId, (function(err, user) {
                    this.loading = false
                    if (err) {
                        this.error = err.toString()
                    } else {
                        this.user = user
                    }
                }).bind(this))
            } 
        }
    }

    var getUsers = function (callback) {
        setTimeout(function () {
            callback(null, [
                {
                    id: 1,
                    name: "Takahashi"
                },
                {
                    id: 2,
                    name: "Kagawa"
                }
            ])
        }, 1000)
    }

    var UserList = {
        template: '#user-list',
        data: function() {
            return {
                loading: false,
                users: function() { return [] },
                error: null
            }
        },

        created: function() {
            this.fetchData()
        },

        watch: {
            '$route': 'fetchData'
        },
        methods: {
            fetchData: function() {
                this.loading = true
                getUsers((function (err, users) {
                    this.loading = false
                    if (err) {
                        this.error = err.toString()
                    } else {
                        this.users = users
                    }
                }).bind(this))
            }
        }
    }

    var router = new VueRouter({
      routes: [
          {
              path: '/top',
              component: {
                  template: '<div>Top Page</div>'
              }
          },
          {
              path: '/users',
              component: UserList
          },
          {
              path: '/users/new',
              component: UserCreate,
              beforeEnter: function(to, from, next) {
                  if (!Auth.loggedIn()) {
                      next({
                          path: '/login',
                          query: { redirect: to.fullPath}
                      })
                  } else {
                      next()
                  }
              } 
          },
          {
              path: '/login',
              component: Login
          },
          {
              path: '/logout',
              beforeEnter: function(to, from, next) {
                  Auth.logout()
                  next('/')
              }
          },
          {
              path: '/users/:userId',
              component: UserDetail
          }
      ]
    })

    var app = new Vue({
        router: router
    }).$mount('#app')
    
</script>
